<h2>Products | <%= link_to 'Add product', new_product_path %>
</h2>
<table class="pretty">
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
<% @user.products.each do |product| %>
  <tr>
    <td><%= link_to product.title, product %></td>
    <td class="price"><%= product.price %></td>
  </tr>
<% end %>
</table>

