<h2>Orders:</h2>

<table class="pretty" style="width:150px">
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
<% @order.items.each do |i| %>
  <tr>
    <td><%= i.title %></td>
    <td class="price"><%= i.price %></td>
  </tr>
<% end %>
</table>