<h2>Orders:</h2>

<table style="width:150px">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Delete</th>
  </tr>
<% @order.line_items.each do |li| %>
  <tr>
    <td><%= li.item.title %></td>
    <td class="price"><%= li.item.price %></td>
    <td><%= link_to 'Remove', li, method: :delete %></td>
  </tr>
<% end %>
</table>

