<!-- Page title -->
  <div class="page-title">
     <div class="container">
        <h2><i class="fa fa-desktop color"></i>New Product</h2>
        <hr />
     </div>
  </div>
<!-- Page title -->
<%= render partial: "form", locals: {product: @product} %>