<!-- Page title -->
<div class="page-title">
   <div class="container">
      <h2><i class="fa fa-desktop color"></i> About this Project</h2>
      <hr />
   </div>
</div>
<!-- Page title -->

<div class="about-us blocky">
   <div class="container">
      <div class="row">

         <div class="col-md-10 col-sm-10">               
            <h4>About Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Esuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet. <a href="#">Praesent ultricies</a> enim ac ipsum aliquet pellentesque. </p>
            <br />
      
            <ul>
              <li>Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>
              <li>Cras tincidunt mi non arcu hendrerit eleifend</li>
              <li>Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>
              <li>Maecenas hendrerit neque id ante dictum mattis</li>
              <li>Vivamus non neque lacus, et cursus tortor</li>
            </ul>

            <p>Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.  Vivamus diam diam, fermentum sed dapibus eget, egestas sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <br />
         </div>

<!--          <div class="col-md-2 col-sm-2">
            <h4>Clients</h4>
            <ul>
               <li><a href="#">Condimentum</a></li>
               <li><a href="#">Etiam at</a></li>
               <li><a href="#">Fusce vel</a></li>
               <li><a href="#">Vivamus</a></li>
               <li><a href="#">Pellentesque</a></li>
            </ul>
            <br />
         </div> -->
      </div>



<!-- About team starts -->
<div class="about-team">
   <h3><i class="fa fa-group color"></i> The Team</h3>
   <hr />

   <div class="row">
               <div class="col-md-3 col-sm-3 col-xs-6">
                  <!-- Staff #1 -->
                  <div class="staff">
                     <!-- Picture -->
                     <div class="pic">
                        <img src="img/user.jpg" alt="" class="img-responsive"/>
                     </div>
                     <!-- Details -->
                     <div class="details">
                        <!-- Name and designation -->
                        <div class="desig pull-left">
                           <p class="name">Emily Lowing</p>
                           
                        </div>
                        <!-- Social media details. Replace # with profile links -->
                        <div class="asocial pull-right">
                           
                           <a href="#"><i class="fa fa-twitter"></i></a>
                           <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <!-- Description -->
                        <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-6">
                  <!-- Staff #2 -->
                  <div class="staff">
                     <div class="pic">
                        <img src="img/user.jpg" alt="" class="img-responsive"/>
                     </div>
                     <div class="details">
                        <div class="desig pull-left">
                           <p class="name">Kyle Doherty</p>
                           
                        </div>
                        <div class="asocial pull-right">
                           
                           <a href="#"><i class="fa fa-twitter"></i></a>
                           <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                        <p class="adesc">Praes at tellus in  ligula porttitor nisl porttitor sagittis. Mauris in massa ligula, a tpor in massa ligula nulla. </p>
                     </div>
                  </div>
               </div>
   </div>

</div>
<!-- About team ends -->



























    </div>
  </div>



    




      
