<!-- Footer starts -->
<footer>
 <div class="container">
 
<div class="row">

    <div class="col-md-4 col-sm-4">
       <div class="fwidget">
       
          <h4>The Pup<span class="color"></span> Club</h4>
          <hr />
          <p>Duis leo risus, vehicula luctus nunc.  Quiue rhoncus, a sodales enim arcu quis turpis. Duis leo risus, condimentum ut posuere ac, vehicula luctus nunc.  Quisque rhoncus, a sodales enim arcu quis turpis.</p>
          
          <div class="social">
             <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
             <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
             <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
             <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
             <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
          </div>
       </div>
   </div>

   <div class="col-md-4 col-sm-4">
     <div class="fwidget">
       <h4>Categories</h4>
       <hr />
       <ul>
         <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
         <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
         <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
         <li><a href="#">Vivamus scelerisque dui in massa</a></li>
         <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
       </ul>
     </div>
   </div>        

   

   <div class="col-md-4 col-sm-4">
     <div class="fwidget">
       
       <h4>Get In Touch</h4>
       <hr />
       <div class="address">
          <p><i class="fa fa-home color contact-icon"></i> 11 Broadway </p>
          <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; New York, NY</p>
          <p><i class="fa fa-phone color contact-icon"></i> +01-555-555-5555</p>
          <p><i class="fa fa-envelope color contact-icon"></i> <a href="mailto:something@gmail.com">info@thepupclub.com</a></p>
       </div>
       
     </div>
   </div>

 </div>


 
    <hr />
    
    <div class="copy text-center">
       Copyright 2014 &copy; - Built by <a href="http://elowing.github.io/" target="_blank">Emily Lowing</a> &amp <a href="http://kylefdoherty.github.io/" target="_blank">Kyle Doherty</a> @ The Flatiron School
    </div>
 </div>
</footer>
<!-- Footer ends -->
